#include "resource.h"

#define RT_MANIFEST 24 
#define APP_MANIFEST 1

APP_MANIFEST RT_MANIFEST app.manifest

IDR_APPLICATION ACCELERATORS
BEGIN
    "V", ID_WINDOW_VSYNC, VIRTKEY, CONTROL, NOINVERT
END